@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,500;1,6..96,400&display=swap");
body {
  font-family: "Helvetica", sans-serif;
  background-color: #cccccc;
  margin: 0px;
  margin-top: 50vh;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  font-family: "Bodoni Moda", serif;
}

img {
  border-radius: 0.5em;
  pointer-events: none;
}

*::selection {
  background-color: unset;
}

button {
  margin: 0.5em 0.5em 0 0;
  font-weight: bold;
  border: 0;
  padding: 0.4em;
  font-size: 1em;
  min-width: 1.5em;
  min-height: 1.5em;
  border-radius: 1em;
}

button:hover {
  opacity: 0.8;
}

iframe {
  transform: translateY(-15%);
}
/* 
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #969696;

  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
